@model IAM_UI.Models.RoleWiseApplicationModel
@{
    ViewData["Title"] = "IT Role Wise Application";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<style>

    .submenu {
        background-color: #f9f9f9; /* Light background for submenus */
        padding: 10px; /* Add padding for clarity */
    }
</style>

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="card border-top border-0 border-4 border-info">
                <div class="card-body" style="padding-bottom: 10px; padding-top: 7px; box-shadow: 2px 2px 5px Gray;">
                    <div class="d-flex justify-content-between align-items-center breadcrumb mt-1  mb-1 mr- ml-0">
                        <div class="navbar-brand mb-0"><h4>Role Wise Application</h4> </div>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><span>Dasboard</span></li>
                                <li class="breadcrumb-item"><i class="lni lni-chevron-right"></i></li>
                                <li class="breadcrumb-item"><span>Role Master</span></li>
                                <li class="breadcrumb-item"><i class="lni lni-chevron-right"></i></li>
                                <li class="breadcrumb-item active" aria-current="page">Role Wise Application</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card border-top border-0 border-4 border-info">
                <div class="card-body" style=" box-shadow: 2px 2px 5px Gray">
                    <div class="row">
                        <div class="col-12">
                            <div class="row mb-2">
                                <div class="col-sm-4">
                                 @*    <span class="Add" style="display:none"> *@
                                        <button type="button" class="btn btn-success waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#RoleWiseApplicationModal"><i class="mdi mdi-plus-circle me-2"></i> Add Record</button>
                                 @*    </span> *@
                                </div>
                                <div class="col-sm-8">
                                    <div class="text-sm-end">
                                        <button type="button" style="display:none" class="btn btn-info mb-2 me-1">Import</button>
                                        <button type="button" style="display:none" class="btn btn-info mb-2 me-1">Export Pdf</button>
                                        <button type="button" style="display:none" class="btn btn-blue mb-2 me-1">Export Excel</button>
                                        <button type="button" style="display:none" class="btn btn-primary mb-2 me-1">Print</button>
                                        <button type="button" class="btn btn-primary waves-effect waves-light" id="RefreshModel"><i class="mdi mdi-cloud-refresh me-2"></i> Refresh</button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="dynamicTable_RoleWiseApplication" class="table table-striped table-bordered" style="width:100% ;text-align:center">
                                    <thead class="table-secondary">
                                        <tr>
                                            <th>Sl No</th>
                                            <th>Company</th>
                                            <th>Role</th>
                                            <th>Application</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>


                                    <tbody>
                                        @{
                                            int count = 0;
                                        }
                                        @foreach (System.Data.DataRow row in ((System.Data.DataTable)ViewBag.CommonGridData).Rows)
                                        {
                                            count++;
                                            <tr>

                                                <td>@count</td>

                                                <td>@row[3]</td>
                                                <td>@row[2]</td>
                                                <td>@row[5]</td>
                                                <td>
                                                    @* <span class="Edit" style="display:none"> *@
                                                        <a href="javascript:;" class="action-icon EditButton">
                                                            <i class="mdi mdi-square-edit-outline"
                                                               onclick="EditItem_RoleWiseApplication(@row[0],@row[1], @row[4])"
                                                               data-toggle="tooltip"
                                                               title="Edit"
                                                               style="color:forestgreen"></i>
                                                        </a>
                                                    @* </span> *@
                                                    @* <span class="View" style="display:none"> *@
                                                        <a href="javascript:;" class="action-icon EditButton">
                                                            <i class="mdi mdi-eye-circle-outline"
                                                               onclick="EditItem_RoleWiseApplication(@row[0],@row[1], @row[4])"
                                                               data-toggle="tooltip"
                                                               title="View"
                                                               style="color:forestgreen"></i>
                                                        </a>
                                                    @* </span> *@
                                                @*     <span class="Delete" style="display:none"> *@
                                                        <a href="javascript:;" class="action-icon DeleteButton">
                                                            <i class="mdi mdi-delete"
                                                               onclick="DeleteItem_RoleWiseApplication(@row[0],@row[1], @row[4])"
                                                               data-toggle="tooltip"
                                                               title="Delete"
                                                               style="color:red"></i>
                                                        </a>
                                                 @*    </span> *@
                                                </td>
                                            </tr>
                                        }

                                    </tbody>


                                </table>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal for Role Wise Application -->
<div class="modal fade" id="RoleWiseApplicationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal needs-validation", enctype = "multipart/form-data", novalidate = "true" }))
            {
                <div class="modal-header border-bottom border-0 border-4 border-info" style="background-color: #85b1b4;">
                    <h5 class="modal-title showCls" id="staticBackdropLabel">RoleWiseApplication Form:: [New]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color:white"></button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12 mx-auto">
                            <div class="card border">
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col-md-1">
                                            <label for="inputZip" class="form-label">Company<sup style="color:red">*</sup>:</label>
                                        </div>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(model => model.CompanyId, ViewBag.Company as SelectList, new { @class = "form-select", autocomplete = "off" })
                                        </div>
                                        <div class="col-md-1">
                                            <label for="inputZip" class="form-label">Role<sup style="color:red">*</sup>:</label>
                                        </div>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(model => model.UserTypeId, ViewBag.UserType as SelectList, new { @class = "form-select", autocomplete = "off" })
                                        </div>
                                        <div class="col-md-1">
                                            <label for="inputZip" class="form-label">Application<sup style="color:red">*</sup>:</label>
                                        </div>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(model => model.application_ID, ViewBag.Application as SelectList, new { @class = "form-select", autocomplete = "off" })
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-12">
                                            <label class="form-label  fw-bold" for="moduleAccess">Module Access:</label>

                                            <div class="table-responsive" id="ModuleDiv">
                                            </div>
                                        </div>
                                    </div>
                                    @* 
                                    <div class="mb-3 col-md-12" style="display: flex; justify-content: right;">
                                        <button type="button" id="SaveRoleWiseApplication" class="btn btn-success"><i class="fas fa-save"></i>&nbsp; Save</button>
                                    </div> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                   @*  <span class="ModalView" style="display:none"> *@
                        <button type="button" id="SaveRoleWiseApplication" name="SaveRoleWiseApplication" class="btn btn-success">
                            <i class="fas fa-save"></i>&nbsp; Submit
                        </button>
                 @*    </span> *@

                    <a href="javascript:;" id="Close" class="btn btn-warning"><i class="mdi mdi-close"></i>&nbsp; Close</a>
                </div>
            }
        </div>
    </div>
</div>

@section dateScript {

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {

            var message = '@TempData["MSG"]';
            if (message == "success") {
                Swal.fire("Done", "Record Saved Successfully !!", "success");
            } else if (message == "exist") {
                Swal.fire("Oops!!!", "Record already exists", "error");
            } else if (message == "Fail") {
                Swal.fire("Oops!!!", "Please Contact Admin", "error");
            }
        });
    </script>
    <script src="~/js/rolewiseapplication.js"></script>
}

